* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(17, 17, 17);
}

h1 {
  text-align: center;
  margin: 20px;
  color: white;
  text-shadow: 5px 5px 10px rgba(212, 48, 253);
}

legend {
  color: white;
  background-color: black;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.596);
  border-radius: 5px;
  font-size: 1.3em;
  color: white;
  padding: 2px 5px;
  border-style: dashed;
  border-color: white;
}

fieldset {
  
  border-style: dashed;
  border-radius: 10px;
  margin: auto;
  padding: 8px 15px;
  width: 500px;
  height: auto;
  background-color: rgba(212, 48, 253, 0.5);
  
}

.form-body {
  width: 400px;
  margin: auto;
  padding: 20px;
}

.form-footer {
  text-align: right;
}

input, select, textarea {
  width: -webkit-fill-available;
  border-radius: 10px;
  border: none;
  border-style: inset;
  padding: 3px;
  margin: 5px;
}

select {
  cursor: pointer;
}

button {
  border-radius: 10px;
  border: none;
  border-style: inset;
  font-weight: 550;
  cursor: pointer;
  margin-right: 60px;
  margin-bottom: 10px;
}

button:hover {
  color: rgb(22, 197, 22);
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(66, 66, 66, 0.596);
}